.chart {
  width: 95%;
  margin: 2% auto;
}

.chart-header {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(92, 91, 91);
}

.chart-header h3 {
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .chart {
    width: 100%;
  }
}
