@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Raleway:wght@600&display=swap");

.city-input-container {
  margin: 0 auto 0.7em;
  text-align: center;
}

.city-input-container input {
  width: 30%;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border: 0;
  height: 35px;
  padding: 0 7px;
}

.city-input-container button {
  height: 35px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border: 0;
  background-color: white;
  font-family: Montserrat;
  vertical-align: top;
}

.city-label {
  color: rgb(92, 91, 91);
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 7px;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}
